.icon1 {
    position: absolute;
    margin-left: 200px;
    top: 127px;
}

.icon2 {
    position: absolute;
    margin-left: 200px;
    top: 200px;
}

.icon3 {
    position: absolute;
    margin-left: 200px;
    top: 277px;
}

.icon4 {
    position: absolute;
    margin-left: 200px;
    top: 353px;
}

.icon5 {
    position: absolute;
    margin-left: 200px;
    top: 427px;
}

.icon6 {
    position: absolute;
    margin-left: 200px;
    top: 503px;
}
